html,
body {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  font-family: Inconsolata, monospace;
  color: #bbbbbb;
  background-color: #000000;
}

main {
  padding: 64px 32px;
  max-width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
}

a {
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

img {
  width: 100%;
  border-radius: 24px;
}

li {
  position: relative;
  padding-left: 16px;
}

li:before {
  content: "- ";
  position: absolute;
  left: 0;
}

.divider {
  margin: 32px;
}

.text-break {
  word-break: break-all;
}

.logo {
  display: block;
  width: 96px;
}

.code {
  padding: 20px;
  border: 1px gray solid;
  margin-top: 10px;
  border-radius: 10px;
  background: #222;
}

@media only screen and (max-width: 420px) {
  main {
    padding: 24px;
  }

  .divider {
    margin: 24px;
  }
}
